h1{
    font-size: 50px;
    color: rgb(20, 20, 241);
    text-align: center;
}

ul{
  list-style-type: none;
  
}

p{
    line-height: 25px;
}

body{
  background-image: linear-gradient(to right, rgb(231, 168, 179), rgb(228, 145, 145), rgb(130, 130, 235)); 
   
}